.header {
    text-align: center;
    color:rgb(74, 97, 36);
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Section {
    background-color: rgb(176, 197, 140);
    padding: 10px;
    border: 1px solid black;
    margin: 20px;
    width: 410px;
    height: 170px;
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(49, 66, 21)
    
}


#SectionTitle {
    background-color: rgb(145, 179, 88);
    padding: 10px;
    border: 1px solid black;
    width: 95px;
    text-align: center;
    height: 10px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 66, 21);
}
